{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/Inventory', 'inventory', 'Inventory'),
    ('/Recommend', 'recommend', 'Recommendation'),
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>WineCellar</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/normalize.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/foundation.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/custom.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/index.css') }}">


</head>
<body>
    <header>
        
        <div class="nav-bar">
            <div class="nav-inside">

            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">             
                <div class="logo" style="cursor: pointer;">
                    <h1>WineCellar</h1>
                    <p>Your Personal Wine Sommelier</p>
                </div>
                <nav class="main">
				<ul>
					<li class="active"><a href="/">Home</a></li>
                    <li><a href="/">Profile</a></li>
                    <li><a href="/Inventory">Inventory</a></li>
                    <li><a href="/Recommend">Recommender</a></li>
                    {% if user and user is defined %}
                    <li><a href="/User/logout">Logout</a></li>
                    {% endif %}
				</ul>
			</nav>
            </div>
        </div>
            <div id="blockcontainer">
        <div id="block1">Get Started Today</div>
        <div id="block2"><a href="#" data-reveal-id="createAccountModal">Register an Account</a></div>
        <div id="block3"><a href="#" data-reveal-id="loginModal">Login<a></div>

    </div>
    <img src="{{ url_for('static', filename=('images/slider/1.jpg') ) }}" class="bgimg"/>

    </header>
    <br />
    <div class="row">
        <div class="large-3 columns highlight center">
        <p><img src="{{ url_for('static', filename=('images/icons/icon-inventory.png') ) }}" /></p>
            <h3>Inventory Tracking</h3>
            <p>Keep track of all your bottles across multiple locations.</p>
        </div>
        <div class="large-3 columns highlight">
        <p><img src="{{ url_for('static', filename=('images/icons/icon-search.png') ) }}" /></p>
            <h3>Convenient Autocomplete</h3>
            <p>Easily enter a wine into your inventory with only a few keystrokes.</p>
        </div>
        <div class="large-3 columns highlight">
        <p><img src="{{ url_for('static', filename=('images/icons/icon-visualize.jpg') ) }}" /></p>
            <h3>Beautiful Visualizations</h3>
            <p>View visualizations of your wines that are as stunning as your collection.</p>
        </div>
        <div class="large-3 columns highlight">
        <p><img src="{{ url_for('static', filename=('images/icons/icon-recommend.png') ) }}" /></p>
            <h3>Personalized Recommendations</h3>
            <p>Find more wines to enjoy that are similar to wines you love.</p>
        </div>
    </div>
        <hr>    
              <br /><br /><br />      <br /><br /><br />
   <div class="row">
      <div class="small-8 small-centered columns">
        <div class="large-9 columns">
                <h3 class="featuredesc">Locations and Inventory</h3>

        <p>When viewing the inventory page for the first time, there will be two sections with large plus signs in them.  The section on the left allows you to manage the location(s) of where you store your wine.  The section on the right keeps track of wines in your inventory and allows you to quickly add wines you have acquired. </p>
        </div>
        <div class="large-3 columns">
            <img src="{{ url_for('static', filename=('images/feat1.jpg') ) }}" width="200px"/>
        </div>
     </div>
    </div>
      <br /><br /> <br /><br /><br />
       <div class="row">
      <div class="small-10 small-centered columns">
        <div class="large-3 columns">

            <img src="{{ url_for('static', filename=('images/feat2.jpg') ) }}" width="200px"/>
        </div>
        <div class="large-9 columns right">
            <h3 class="featuredesc">Shelves and Recommendations</h3>

            <p>Get recommendations for wines that you enjoyed by adding shelves and associating it with wines you have enjoyed before.  A shelf is a collection of related wines.  These shelves will contain wines similar to the wines you named for you to consider tasting.</p>
        </div>
    </div>  
    </div> 

          <br /><br /> <br /><br /><br />
      <br /><br /><br />


    <div class="row">
      <div class="small-8 small-centered columns">
        <div class="large-9 columns">
                <h3 class="featuredesc">Searching</h3>

        <p>Wines that you wish to add to your inventory or use as part of a shelf can be added by typing the wine's name, winery, and/or vintage.  Other information on the wine will be found automatically.  You may also search your inventory for a particular wine you added using the inventory page's search bar.  </p>
        </div>
        <div class="large-3 columns">
            <img src="{{ url_for('static', filename=('images/feat3.jpg') ) }}" width="200px"/>
        </div>
     </div>
    </div>

             <br /><br /><br />
      <br /><br /><br />
     <div class="row">
      <div class="small-10 small-centered columns">
        <div class="large-3 columns">

            <img src="{{ url_for('static', filename=('images/feat4.jpg') ) }}" width="200px"/>
        </div>
        <div class="large-9 columns right">
            <h3 class="featuredesc">Statistics and Attributes</h3>

            <p>View the user profile for quick statistics such as the total amount of wines owned and one’s red wine to white wine ratio.  Aroma and taste qualities of wines can be seen when choosing to view more info on the wine.</p>
        </div>
    </div>  
    </div> 


  
      </br> </br> </br> </br>     
  <footer><div class="row"><p>(C) Copyright 2013. All Rights Reserved.</p></div>
  </footer>

  <!-- Modals -->
    <!-- CREATE ACCOUNT MODAL -->
    <div id="createAccountModal" class="reveal-modal medium">

        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">

                            <div class="large-12 large-centered columns">

                                <form id="createForm" action="User/create" method="POST" enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h3>Create New Account</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="createErrorMessage" class="error-message">This E-Mail Address is already in use.</div>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix required-field"><b>E-Mail Address</b></span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_email" type="text" placeholder="Ex: winelover@winecellar.com"></input>
                                        </div>
                                    </div>

                                  

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix required-field"><b>Password</b></span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_password" type="password" placeholder="Must be between 5-16 characters."></input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="createMismatchMessage" class="error-message">Passwords must match.</div>
                                        </div>
                                    </div>
                                    

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix required-field"><b>Re-Type Password</b></span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_repassword" type="password"  placeholder="Must match password used above."></input>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix">Display Name</span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_name" type="text" placeholder="Ex: Johnny Grapevine"></input>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix">Location</span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_location" type="text" placeholder="Ex: Wineville, Wineria"></input>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix">Birthday</span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input name="create_birthday" type="text" placeholder="Ex: 1980-05-31"></input>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-4 columns">
                                            <span class="prefix">Profile Image</span>
                                        </div>
                                        <div class="large-8 columns">
                                            <input id="createImageInput" name="create_user_image" type="file" placeholder="Ex: me.jpg" accept="image/*" capture title="Profile Image"></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="bold-required" class="error-message">*Bold fields are required</div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="createAccountButton" class="button full_width">Create Account</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="badPasswordMessage" class="error-message">Password must be letters/numbers only and between 6 - 255 characters.</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="badNameMessage" class="error-message">Name must be letters/numbers/spaces and between 2 - 255 characters.</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="badLocationMessage" class="error-message">Location must be letters/numbers/spaces and between 2 - 255 characters.</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-12 columns">
                                            <div id="badBirthdayMessage" class="error-message">Birthday needs to be of the format YYYY-MM-DD and reasonable.</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="large-3 large-centered columns">
                                            <div class="progress_wheel">
                                                <img src="{{ url_for('static', filename='images/progress_1.gif') }}" />
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <!-- LOGIN MODAL -->
    <div id="loginModal" class="reveal-modal medium">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">

                            <div class="large-12 large-centered columns">

                                <form id="loginForm" action="User/login" method="POST">

                                        <div class="row">
                                            <div class="large-12 columns">
                                                <h3>Login to WineCellar</h3>
                                            </div>
                                        </div>

                                        <div class="row collapse">
                                            <div class="large-4 columns">
                                                <span class="prefix required-field">E-Mail Address</span>
                                            </div>
                                            <div class="large-8 columns">
                                                <input name="login_email" type="text" placeholder="winelover@winecellar.com"></input>
                                            </div>
                                        </div>

                                        <div class="row collapse">
                                            <div class="large-4 columns">
                                                <span class="prefix required-field">Password</span>
                                            </div>
                                            <div class="large-8 columns">
                                                <input name="login_password" type="password" placeholder="**********"></input>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-12 columns">
                                                <span id="loginErrorMessage" class="error-message">Login Failed</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="large-12 columns">
                                                <div id="loginButton" class="button full_width">Login</div>
                                            </div>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <!-- End Modals -->

    <!-- Javascript Imports -->
    <script src="{{ url_for('static', filename='javascripts/vendor/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/foundation.min.js')}}"></script>
    <!-- End Javascript Imports -->
    
    <script>
        $(document).foundation();
    </script>


    <!-- Login Test Custom JS -->
    <script type="text/javascript">
        $(function()
        {

            $('#loginButton').bind('click', function()
            {
                var encounteredError = false;

                var email = $('input[name="login_email"]').val();
                var pass = $('input[name="login_password"]').val();

                //Make sure required values are not empty
                if(email == '' || email.length < 6 || email.length > 255) {
                    $('#loginErrorMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#loginErrorMessage').css("display", 'none');
                }

                //Make sure required values are not empty
                if(pass == '' || pass.length < 6 || pass.length > 255) {
                    $('#loginErrorMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#loginErrorMessage').css("display", 'none');
                }

                //If we had an error there is no point in continuing
                if(encounteredError)
                    return false;

                $.post('/User/veriflogin',
                {
                    email   :  email,
                    password  :  pass
                }, function(data)
                {
                    if(data.status == 'INVALID') {
                        $('#loginErrorMessage').css("display", 'block');
                    }else if(data.status == 'VALID'){
                        $('#loginErrorMessage').css("display", 'none');
                        $('form#loginForm').submit()
                        //window.location.href = data.newurl;
                    }
                }, 'json');
                return false;

            });
        });



    $(function()
        {
            $('#createAccountButton').bind('click', function()
            {
                var email = $('input[name="create_email"]').val();
                var pass1 = $('input[name="create_password"]').val();
                var pass2 = $('input[name="create_repassword"]').val();
                var name = $('input[name="create_name"]').val();
                var location = $('input[name="create_location"]').val();
                var birfday = $('input[name="create_birthday"]').val();

                var encounteredError = false;

                //Make sure required values are not empty
                if(email == '' || pass1 == '' || pass2 == '') {
                    $('#bold-required').css("display", 'block');
                    return false;
                } else {
                    $('#bold-required').css("display", 'none');
                }

                //MAKE SURE PASSWORDS MATCH
                if(pass1 != pass2) {
                    $('#createMismatchMessage').css("display", 'block');
                    return false;
                } else {
                    $('#createMismatchMessage').css("display", 'none');
                }

                //Make sure new password is valid
                if( (pass1.length < 6 || pass1.length > 255 || (/[^0-9A-Za-z]/i).test(pass1)) ) {
                    $('#badPasswordMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#badPasswordMessage').css("display", 'none');
                }

                //Make sure name is proper length
                if( name != '' && (name.length < 2 || name.length > 255 || (/[^0-9A-Za-z\s]/).test(name)) ) {
                    $('#badNameMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#badNameMessage').css("display", 'none');
                }

                //Make sure name is proper length
                if( location != '' && (location.length < 2 || location.length > 255 || (/[^0-9A-Za-z\s]/).test(location)) ) {
                    $('#badLocationMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#badLocationMessage').css("display", 'none');
                }

                //Make sure name is proper length
                if( birfday != '' && (birfday.length < 10 || birfday.length > 10 || !(/^(19|20)\d\d[-](0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])/).test(birfday)) ) {
                    $('#badBirthdayMessage').css("display", 'block');
                    encounteredError = true;
                } else {
                    $('#badBirthdayMessage').css("display", 'none');
                }

                //If we had an error there is no point in continuing
                if(encounteredError)
                    return false;

                //Post Account Into to Server for Account Creation
                $.post('/User/verifcreate',
                {
                    email   :  $('input[name="create_email"]').val()
                }, function(data)
                {
                    if(data.status == 'INVALID') {
                        $('#createErrorMessage').css("display", 'block');
                    }else if(data.status == 'VALID'){
                        $('#createErrorMessage').css("display", 'none');
                        $('.progress_wheel').css("display", 'block');
                        $('form#createForm').submit()
                        //window.location.href = data.newurl;
                    }
                }, 'json');

                return false;

            });
        });

    </script>
       <!--
    <script>
 
  document.write('<script src=javascripts/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>
-->


</body>
</html>